menu "ESP-Mosaico Game Audio"

config ESP_MOSAICO_AUDIO_CLIPS
    int "Maximum loaded audio clips"
    range 4 64
    default 20

config ESP_MOSAICO_AUDIO_VOICES
    int "Simultaneous sound-effect voices"
    range 1 16
    default 8

endmenu
